.slider {
  display: flex;
  gap: 1.5rem;
  padding-right: 1.5rem;
  width: max-content;
  animation: slide 40s linear infinite;
}

@keyframes slide {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

.pauseOnHover:hover .slider {
  animation-play-state: paused;
}
